* {
    box-sizing: border-box;
  }
  
  .column
  {
      width:25%;
      float:left;
      padding:10px 20px;
  }

  .row:after{
      content:"";
      display:table;
      clear:both;
  }

 

  @media screen and (max-width:600px)
  {
      .column
      {
          width:100%;
          display:block;
          margin-bottom: 20px;
      }
  }

  .card
  {
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
      max-width:300px;
      margin:auto;
      background-color:white;
      text-align:center;
      border-radius:20px;
      padding-bottom:15px;
  }

  a{
      text-decoration: none;
      color:black;
  }

  a:hover,button:hover{
      opacity: 0.6;
      color: black;
  }

  a:active{
    color:white;
    border:0px;
    -moz-outline-style:none;
  }

  a:focus{
    outline:none;
    -moz-outline-style:none;
  }