* {
    box-sizing: border-box;
  }
  
  .column
  {
      width:25%;
      float:left;
      padding:10px 20px;
  }

  .row:after{
      content:"";
      display:table;
      clear:both;
  }

 

  @media screen and (max-width:600px)
  {
      .column
      {
          width:100%;
          display:block;
          margin-bottom: 20px;
      }
  }

  .card
  {    
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }

  .card-header
  {
      border-radius:90px;
      padding-bottom:15px;
  }

  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

  a{
      text-decoration: none;
      color:black;
  }

  a:hover,button:hover{
      opacity: 0.6;
  }

  input[type=text] {
  width: 130px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  }

  input[type=text]:focus {
    width: 100%;
  }

    